@media screen and (min-width: 768px) {
   
   
    header {
        padding: 0 60px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .nav-menu {
        display: flex !important; 
        flex-direction: row; 
        position: static; 
        width: auto;
        background-color: transparent;
        padding: 0;
        gap: 20px;
    }

    #menu {
        display: none; 
    }


    #destination-title {
        font-size: 3.5rem;
        margin: 60px 0;
    }

    .destination-section {
        grid-template-columns: repeat(3, 1fr); 
        padding: 40px 60px 80px 60px; 
        gap: 40px;
    }

    footer {
        flex-direction: row;
        align-items: center;
        position: relative; 
    }

    .footer-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; 
        pointer-events: none; 
    }

    .date-content {
        margin-right: auto; 
    }

    .social-media-links {
        margin: 0;
        margin-left: auto; 
        position: relative;
        z-index: 10; 
    }
    
    }  