*{
    margin: 0;
    padding: 0;
}
:root{
    --title-font: 'Roboto Condensed', sans-serif;
    --second-font: 'Open Sans', sans-serif;
    --border-radius: 6px;
    --main-color: #0077b6;
    --secondary-color: #f5761b; 
    --third-color: #f1faee;
}

h1{
    font-family: var(--title-font);
    font-size: 2.5rem;
}

.logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

header{
    display: flex;
    background-color: var(--main-color);
    color: var(--third-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    height: 70px;
}
ul{
    list-style: none;
}

.nav-menu a {
    padding: 15px 10px;
    color: var(--third-color);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    font-family: var(--title-font);
    font-size: 1.15rem;
    font-weight: 500;

}

.nav-menu a:hover {
    background-color: var(--third-color);
    color: black;
}

.hero-image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-image-container{
    position: relative;
}

h2{
    font-family: var(--title-font);
    font-size: 2rem;
    border-bottom: 0.5px solid grey;
    padding-bottom: 10px;
    color: #026499;
}

section{
    background-color: var(--third-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-top: 5px solid var(--main-color);
    border-bottom: 5px solid var(--main-color);
}

p{
    font-family: var(--second-font);
    font-size: 0.9rem;
    padding-top: 10px;
}

.about-us-section {
    position: absolute;
    top: 55%;         
    left: 55%;       
    transform: translateY(-50%); 
    max-width: 400px; 
    background-color: rgba(241, 250, 238, 0.7); 
    padding: 30px;
    border-radius: var(--border-radius);
    margin: 0; 

}

/*Have to add rules for the recommended section, and the array in js*/ 

footer{
    background-color: var(--main-color);
    color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}


.social-media-links{
    display: flex;
    gap: 15px;
}

footer p{
    font-family: var(--second-font);
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    display: flex;
}

.social-media-links img{
    cursor: pointer;
}