@media screen and (min-width: 768px) {
   
    header {
        padding: 0 60px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .nav-menu {
        display: flex !important; 
        flex-direction: row; 
        position: static; 
        width: auto;
        background-color: transparent;
        padding: 0;
        gap: 20px;
    }

    #menu {
        display: none; 
    }
    
    .hero-image-container{
    position: relative;
    }

    .about-us-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 500px;
    width: 90%;
    z-index: 10;
    }

    #recommended-container {
        flex-direction: row; 
        justify-content: center;
        flex-wrap: wrap; 
        max-width: 1200px;
        margin: 0 auto;
    }

    .destination-card {
        flex: 1; 
        max-width: 350px; 
    }

    
    footer {
        flex-direction: row;
        align-items: center;
        position: relative; 
    }

    .footer-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; 
        pointer-events: none; 
    }

    .date-content {
        margin-right: auto; 
    }

    .social-media-links {
        margin: 0;
        margin-left: auto; 
        position: relative;
        z-index: 10; 
    }
}