@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: static; 
        width: auto;      
        padding: 0;       
    }

    #destination-title {
        font-size: 3.5rem;
        margin: 60px 0;
    }

    .destination-section {
        grid-template-columns: repeat(3, 1fr); 
        padding: 40px 80px 80px 80px; 
        gap: 40px;
    }

    header {
        padding: 0 80px;
    }

    footer {
        flex-direction: row;
        align-items: center;
        position: relative; 
    }

    .footer-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; 
        pointer-events: none; 
    }

    .date-content {
        margin-right: auto; 
    }

    .social-media-links {
        margin: 0;
        margin-left: auto; 
        position: relative;
        z-index: 10; 
    }
}