*{
    margin: 0;
    padding: 0;
}
:root{
    --title-font: 'Roboto Condensed', sans-serif;
    --second-font: 'Open Sans', sans-serif;
    --border-radius: 6px;
    --main-color: #0077b6;
    --secondary-color: #f5761b; 
    --third-color: #f1faee;
}

h1{
    font-family: var(--title-font);
    font-size: 2.5rem;
}

.logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

header{
    display: flex;
    background-color: var(--main-color);
    color: var(--third-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    height: 70px;
}
ul{
    list-style: none;
}

.nav-menu a {
    padding: 15px 10px;
    color: var(--third-color);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    font-family: var(--title-font);
    font-size: 1.15rem;
    font-weight: 500;

}

.nav-menu a:hover {
    background-color: var(--third-color);
    color: black;
}

footer{
    background-color: var(--main-color);
    color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
   

}

footer p{
    font-size: 1.05rem;
    font-family: var(--second-font);
    font-weight: 500;
    text-align: center;
}


.social-media-links{
    display: flex;
    gap: 5px;
    margin-left: auto;
    align-items: center;
}


.footer-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.social-media-links img{
    cursor: pointer;
    height: 50px;
    width: auto;
}

.date-content p{
    font-family: var(--second-font);
    font-size: 1.05rem;
}