header{
    background-color: rgb(230, 100, 119);
    margin: 0 auto;
    padding: 0.5rem;
    width: 700px;
    border-radius: 6px;
    
}

h1{
    margin: 0.5rem;
    font-size: 2.7rem;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Boogaloo', sans-serif;
    font-weight: light;
}

h2{
    width: 500px;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 6px;
    display: grid;
    background-color: rgb(223, 218, 218);
    
}

footer{
    font-family:'Fira Sans Condensed', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--background-color);
    color: var(--color);
    font-style: italic;
    border-radius: 6px;

}
