header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0.5rem;
    width: 700px;
    border-radius: 6px;
    
}

h1{
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255); 
}

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--background-color);
    color: var(--color);
    font-style: italic;
    border-radius: 6px;

}
