*{
    margin: 0.3rem;
    padding: 0.2rem;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}

:root{
    --background-color: rgb(230, 100, 119);
    --color: rgb(255, 255, 255);
    --cursor: pointer;
    --main-font: 'Boogaloo', sans-serif;
    --body-font:'Fira Sans Condensed', sans-serif;
}

header{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0.5rem;
    width: 700px;
    border-radius: 6px;
    
}

h1{
    margin: 0.5rem;
    font-size: 2.7rem;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: var(--main-font);
    font-weight: light;
}


form{
    width: 700px;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 6px;
    display: grid;
    background-color: rgb(223, 218, 218);
}

fieldset{
    display:grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(146, 141, 141);
    padding: 1rem;
}

label, legend{
    color: rgb(206, 90, 107);
    padding: 0.5rem;
    margin: 1rem;
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: var(--main-font);
}


.feature-item label{
    text-align: left;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    margin: 0;
    font-style: italic;
    font-weight: 500;
    font-family: var(--body-font);
    color: black;
}

.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}



input, select, textarea{
    padding: 0.3rem;
    font-size: 1.1rem;
    font-family:var(--body-font) ;
    font-weight: light;
}

.form-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    grid-column: 1/-1;
    
}

.star-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.star-group label{
    text-align: center;
    margin: 0;
    padding: 0;
}

.star-group input[type="radio"] {
    margin: 0;
    cursor: var(--cursor);
    width: 15px;
    height: 15px;
}

input[type="date"]{
    cursor: var(--cursor);
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 1.2rem;
    cursor: var(--cursor);
}
input[type="submit"]{
    margin: 1rem;
    background-color: rgb(206, 90, 107);
    border: none;
    border-radius: 6px;
    padding: 0.7rem;
    color: var(--color);
    font-family: var(--main-font);
    font-weight:light;
    font-size: 1.5rem;
    
}

input[type="submit"]:hover{
    background-color: rgb(250, 157, 171);
    color:rgb(39, 37, 37);
    cursor: var(--cursor);
}


footer{
    font-family: var(--body-font);
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--background-color);
    color: var(--color);

}


