*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background-color: rgb(230, 100, 119);
    --color: rgb(255, 255, 255);
    --cursor: pointer;
    --main-font: 'Boogaloo', sans-serif;
    --body-font:'Fira Sans Condensed', sans-serif;
}

header, form, footer{
    width: 90%;
    max-width: 450px;
    margin: 1rem auto;

}
header{
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 6px;
    
}

h1{
    font-size: 2.3rem;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: var(--main-font);
    font-weight: light;
}


form{
    padding: 1.5rem; 
    border-radius: 6px;
    display: flex;    
    flex-direction: column; 
    align-items: flex-start;
    background-color: rgb(223, 218, 218);
    overflow: hidden; 
}

fieldset{
    width: 100%;
    margin: 1rem 0;
    border: 1px solid rgb(146, 141, 141);
    padding: 1rem;
    box-sizing: border-box;
}

label, legend{
    color: rgb(206, 90, 107);
    padding: 0;
    margin: 0.5rem 0 0.2rem 0; 
    font-size: 1.2rem; 
    font-family: var(--main-font);
    
}


.feature-item label{
    text-align: left;
    padding-right: 0.5rem;
    font-size: 1rem;
    margin: 0.3rem;
    font-style: italic;
    font-weight: 450;
    font-family: var(--body-font);
    color: rgb(0,0,0);
}

.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}



input, select, textarea{
    padding: 0.3rem;
    font-size: 1.1rem;
    font-family:var(--body-font) ;
    font-weight: light;
}

.form-rating{

    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
    
}

.star-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.star-group label{
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    width: 60px;
    word-wrap: break-word;
}

.star-group input[type="radio"] {
    margin: 0;
    cursor: var(--cursor);
    width: 15px;
    height: 15px;
}
input[type="text"],
input[type="date"],
select{
    width: 100%;          
    max-width: 500px;     
    margin: 0.2rem 0 1rem 0; 
    align-self: flex-start;
}


textarea{
    width: 100%;
    max-width: 100%; 
    margin: 0.2rem 0 1rem 0;
}

input[type="date"]{
    cursor: var(--cursor);
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 1.2rem;
    cursor: var(--cursor);
}
input[type="submit"]{
    margin: 1rem;
    background-color: rgb(206, 90, 107);
    border: none;
    border-radius: 6px;
    padding: 0.7rem;
    color: var(--color);
    font-family: var(--main-font);
    font-weight:light;
    font-size: 1.5rem;
    
}

input[type="submit"]:hover{
    background-color: rgb(250, 157, 171);
    color:rgb(39, 37, 37);
    cursor: var(--cursor);
}


footer{
    font-family: var(--body-font);
    text-align: center;
    font-size: 0.9rem;
    background-color: var(--background-color);
    color: var(--color);
    border-radius: 6px;
    padding: 0.5rem;
}


