@media (min-width: 780px){

    header, form, footer{
        max-width:800px;
    }

    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        align-items: start;
    }

    fieldset, 
    #written-review, 
    label[for="written-review"],
    input[type="submit"] {
        grid-column: 1 / -1;
    }

    input[type="text"],
    input[type="date"],
    select {
        grid-column: 1; 
        justify-self: start;
    }

}