*{
    padding: 0;
    margin: 0;
}

:root{
    --font:'Fjalla One', sans-serif ;
    --color: rgb(255,255,255);
    --border-color: 3px solid rgb(218, 41, 28);
    --color2: rgb(0,0,0);
    --border-radius: 5px;
    --section-width: 500px;
    
}

header{
    background-color: rgb(0, 153, 181);
    border-bottom: var(--border-color);
    color: var(--color);
    text-align: center;
}

h1{
    font-weight: 400;
    font-family: var(--font);
    font-size: 2.5rem;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

}

.main-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 0; 
    margin: 0;
    gap: 2rem;
}

.picture-container{
    width: 100%;
    height: auto; 
    order: 1;
}

.hero-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display:block;
}


.data-section, .weather-section{
    grid-column: auto;
    grid-row: auto;
    z-index: 1;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(211, 211, 211, 0.8);
    color: rgb(--color2);
    border-radius: var(--border-radius);
    width: var(--section-width);
    box-shadow: 3px 3px 3px 3px rgba(128,128,128, 0.45);
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    margin: 1rem 0;
    width: 90%;
}
.data-section {
    order: 2;
    margin-top: 1rem;
}

.weather-section {
    order: 3;
    margin-bottom: 2rem;
}

.data-section h2, .weather-section h2 {
    grid-column: 1 / -1; 
    margin-bottom: 1rem;
}

.data-section .section-text p{
    text-align: left;
    font-size: 1.1rem;
}

.weather-section .section-text p {
    text-align: left;
    font-size: 1.1rem;
}

h2{
    background-color: rgb(0, 153, 181);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box;
    color: var(--color);
    font-family: var(--font);
    font-weight: 200;
    font-size: 2rem;
}

.data-section h2:hover{
    background-color: rgb(218, 41, 28);
    color: var(--color2) ;
}

.weather-section h2:hover{
    background-color: rgb(44, 136, 53);
    color: var(--color2);
}

figcaption{
    font-style: italic;
    font-weight: bold;
}

footer{
    background-color: rgb(44, 136, 53);
    color: var(--color);
    font-style: italic;
    font-size: 1.15rem;
    border-top: var(--border-color);
    text-align: center;
    padding: 1rem;
    font-family: var(--font);
}
