*{
    margin: 0;
    padding: 0;
}

:root{
    --font: 'Merriweather', sans-serif;
    --color: rgb(255,255,255);
    --background-color:rgb(161, 10, 161);
    --border-radius: 5px;
}


#header-title{
    font: var(--font);
    background-color: var(--background-color);
    color: var(--color);
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
    padding-left: 1rem;
}

.navigation-menu{
    display:flex;
    align-items: center;
    background-color: var(--background-color);
    height: 60px;
    padding: 0.1rem;
    list-style: none;
    
}

.navigation-menu li{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-weight:bold;
}

.navigation-menu a{
    text-decoration: none;
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--color);
    font-size: 1.05rem;
    padding: 10px 20px;
    display:inline-block;
}

.navigation-menu a:hover{
    background-color: rgb(122, 8, 122);
    border-radius: var(--border-radius);
    padding: 10px 20px;
}

h1{
    font-family: var(--font);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
}

.main-grid{
    min-width: 1200px;
    margin: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "figure1" "figure2" "figure3"
    "figure4" "figure5" "figure6"
    "figure7" "figure8" "figure9";
    row-gap:2rem;
}

.main-grid .fig:nth-child(1){
    grid-area:figure1};

.main-grid .fig:nth-child(2){
    grid-area:figure2};

.main-grid .fig:nth-child(3){
    grid-area:figure3};

.main-grid .fig:nth-child(4){
    grid-area:figure4};

.main-grid .fig:nth-child(5){
    grid-area:figure5};

.main-grid .fig:nth-child(6){
    grid-area:figure6};

.main-grid .fig:nth-child(7){
    grid-area:figure7};

.main-grid .fig:nth-child(8){
    grid-area:figure8};

.main-grid .fig:nth-child(9){
    grid-area:figure9};


footer{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font);
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 0.5rem;
}
.footer-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    
}
